<!-- <ul>
  <li *ngFor="let t of tasks.entries">{{t.title}}</li>
</ul> -->

<table *ngIf ="tasks != null" mat-table [dataSource]="tasks.entries" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Added Column -->
  <ng-container matColumnDef="added">
    <th mat-header-cell *matHeaderCellDef> Added </th>
    <td mat-cell *matCellDef="let element"> {{element.added | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <!-- Deadline Column -->
  <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef> Deadline </th>
    <td mat-cell *matCellDef="let element"> {{element.deadline | date:'dd/MM/yyyy'}} </td>
  </ng-container>

   <!-- NumberOfComments Column -->
   <ng-container matColumnDef="numberOfComments">
    <th mat-header-cell *matHeaderCellDef> NumberOfComments </th>
    <td mat-cell *matCellDef="let element"> {{element.numberOfComments}} </td>
  </ng-container>

   <!-- CloseAt Column -->
   <ng-container matColumnDef="closedAt">
    <th mat-header-cell *matHeaderCellDef> ClosedAt </th>
    <td mat-cell *matCellDef="let element"> {{element.closedAt | date:'dd/MM/yyyy'}} </td>
  </ng-container>

    <!-- Importance Column -->
    <ng-container matColumnDef="importance">
      <th mat-header-cell *matHeaderCellDef> Importance </th>
      <td mat-cell *matCellDef="let element"> {{element.importance}} </td>
    </ng-container>
     
    <!-- State Column -->
   <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5]" showFirsLastButtons></mat-paginator> 