<!-- <table mat-table [dataSource]="users" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  
  <ng-container matColumnDef="userRole">
    <th mat-header-cell *matHeaderCellDef> UserRole </th>
    <td mat-cell *matCellDef="let element"> {{element.userRole}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->
<mat-accordion>
  <mat-expansion-panel [expanded]='usersPanel' [disabled]='!usersPanel'>
    <mat-expansion-panel-header>
      <mat-panel-title>Users</mat-panel-title>
    </mat-expansion-panel-header>

    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> History </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)='showHistory(element.id)'> Show History
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]='historyPanel' [disabled]='!historyPanel'>
    <mat-expansion-panel-header>
      <mat-panel-title>History for selected user</mat-panel-title>
    </mat-expansion-panel-header>  
        
        <table mat-table [dataSource]="history" class="mat-elevation-z8">

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let history"> {{history.username}} </td>
          </ng-container>

          <ng-container matColumnDef="roleTitle">
            <th mat-header-cell *matHeaderCellDef> Title of role </th>
            <td mat-cell *matCellDef="let history"> {{history.roleTitle}} </td>
          </ng-container>

          <ng-container matColumnDef="allocatedAt">
            <th mat-header-cell *matHeaderCellDef> Allocated At </th>
            <td mat-cell *matCellDef="let history"> {{history.allocatedAt | date:'dd/MM/yyyy HH:MM:ss'}} </td>
          </ng-container>

          <ng-container matColumnDef="removedAt">
              <th mat-header-cell *matHeaderCellDef> Removed At </th>
              <td mat-cell *matCellDef="let history"> {{history.removedAt | date:'dd/MM/yyyy HH:MM:ss'}} </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsHistory"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsHistory;"></tr>
        </table>    
    <br>
    <div style="margin: auto">    
      <button mat-raised-button color="primary" style="margin: 30px" (click)="cancelEdit()">Cancel</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>